# Carpetes ocultes
.*

# Arxius del sistema
.DS_Store
Thumbs.db

# Arxius temporals
*.tmp
*.temp
*.swp
*.swo

# Logs
*.log

# Arxius de configuració de l'IDE
.vscode/
.idea/

# Dependències de node (si es fan servir en el futur)
node_modules/
npm-debug.log*

# Arxius de build (si es fan servir en el futur)
dist/
build/

# Recursos de desenvolupament
dev-resources/